<!DOCTYPE html>
<html>
  <head>
    <title>CatHealth</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer>
      <%= link_to 'バナー広告', 'https://www.necoichi.co.jp/' %>
    </footer>
</html>
